@tailwind base;
@tailwind components;
@tailwind utilities;

.story-item-column {
  width: 4%;
  padding-right: 5px;
}
.story-item-column-time {
  width: 14%;
  padding-left: 5px;
  padding-right: 5px;
}
.story-item-column-user {
  width: 12%;
  padding-left: 5px;
  padding-right: 5px;
}
.story-item-column-title {
  min-width: 80%;
  padding-left: 5px;
  padding-right: 5px;
}